.container
{
    width: 50%;
    margin: auto;
    text-align: center;
}
div{
  margin: 20px;
}
.row1,.row5
{
    border-style: solid;
}
.row2,.row6
{
    border-style: dashed;
}
.row3,.row7
{
    border-style: dotted;
}
.row4,.row8
{
    border-style: double;
}
.thin
{
    background-color: yellow;
    border-width: thin;
}
.thick
{
    background-color: rgb(255, 187, 0);
    border-width: thick;
}              